<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="index.js"></script>
        <title>Hack The Office Gateway</title>
        </head>
    <body>
        <h1>Hack the Office Gateway</h1>
        <p>
        Connection string: <span id="connstr"></span>
        </p>
        <p>
            Cache size: <input type="number" id="cachesize" value="" />
        </p>
        <p>
            Delay between posts: <input type="number" id="delay" value="" />
        </p>
        <p><input type="button" id="savedata" value="Update"></p>
    </body>
</html>